config defaults
	option tcp_ecn		1
	option input		REJECT
	option output		ACCEPT
	option forward		REJECT

config zone
	option name		backhaul
	list   network		'backhaul'
	list   network		'lte'
	option input		REJECT
	option output		ACCEPT
	option forward		REJECT

config zone
	option name		lan
	list   network		'lan'
	option input		ACCEPT
	option output		ACCEPT
	option forward		ACCEPT

config zone
	option name		pbs
	list   network		'pbs'
	option input		REJECT
	option output		ACCEPT
	option forward		REJECT

# We need this zone to receive mesh traffic
config zone
	option name		mesh
{% for subnet in mesh_subnets %}
	list   subnet		'{{subnet}}'
{% endfor %}
	option input		REJECT
	option output		ACCEPT
	option forward		ACCEPT

config rule
	option name		Allow-Ping
	option src		mesh
	option proto		icmp
	option target		ACCEPT

config rule
	option name		Allow-MLD
	option src		mesh
	option proto		icmp
	list icmp_type		'130/0'
	list icmp_type		'131/0'
	list icmp_type		'132/0'
	list icmp_type		'143/0'
	option family		ipv6
	option target		ACCEPT


# Allow essential incoming IPv6 ICMP traffic
config rule
	option name		Allow-ICMPv6-Input
	option src		mesh
	option proto		icmp
	list icmp_type		echo-request
	list icmp_type		echo-reply
	list icmp_type		destination-unreachable
	list icmp_type		packet-too-big
	list icmp_type		time-exceeded
	list icmp_type		bad-header
	list icmp_type		unknown-header-type
	list icmp_type		router-solicitation
	list icmp_type		neighbour-solicitation
	list icmp_type		router-advertisement
	list icmp_type		neighbour-advertisement
	option limit		1000/sec
	option family		ipv6
	option target		ACCEPT


# Allow essential forwarded IPv6 ICMP traffic
config rule
	option name		Allow-ICMPv6-Forward
	option src		mesh
	option dest		*
	option proto		icmp
	list icmp_type		echo-request
	list icmp_type		echo-reply
	list icmp_type		destination-unreachable
	list icmp_type		packet-too-big
	list icmp_type		time-exceeded
	list icmp_type		bad-header
	list icmp_type		unknown-header-type
	option limit		1000/sec
	option family		ipv6
	option target		ACCEPT

# Allow essential incoming IPv6 ICMP traffic
config rule
	option name		Allow-ICMPv6-Input
	option src		pbs
	option proto		icmp
	list icmp_type		echo-request
	list icmp_type		echo-reply
	list icmp_type		destination-unreachable
	list icmp_type		packet-too-big
	list icmp_type		time-exceeded
	list icmp_type		bad-header
	list icmp_type		unknown-header-type
	list icmp_type		router-solicitation
	list icmp_type		neighbour-solicitation
	list icmp_type		router-advertisement
	list icmp_type		neighbour-advertisement
	option limit		1000/sec
	option family		ipv6
	option target		ACCEPT


# Allow essential forwarded IPv6 ICMP traffic
config rule
	option name		Allow-ICMPv6-Forward
	option src		pbs
	option dest		*
	option proto		icmp
	list icmp_type		echo-request
	list icmp_type		echo-reply
	list icmp_type		destination-unreachable
	list icmp_type		packet-too-big
	list icmp_type		time-exceeded
	list icmp_type		bad-header
	list icmp_type		unknown-header-type
	option limit		1000/sec
	option family		ipv6
	option target		ACCEPT

# Dropbear does not listen here by default it may be enabled
# by the user
config rule
	option name		Allow-Mesh-SSH-2
	option src		mesh
	option dest_port	2200
	option target		ACCEPT

config rule
	option name		Allow-Babel
	option src		mesh
	option dest_port	6696
	option target		ACCEPT


config rule
	option name		Allow-Rita
	option src		mesh
	option dest_port	4876
	option target		ACCEPT

config rule
	option name		Allow-Rita-Payments
	option src		mesh
	option dest_port	4874
	option target		ACCEPT

config rule
	option name		Allow-Rita-Payments
	option src		pbs
	option dest_port	4874
	option target		ACCEPT

config rule
	option name		Allow-Rita-Light-Client-Hello
	option src		pbs
	option dest_port	4878
	option target		ACCEPT

config rule
	option name		Reject-Rita-Light-Client-Hello
	option src		lan
	option dest_port	4878
	option target		REJECT



config rule
	option name		Allow-Rita-Tunnels
	option src		mesh
	option dest_port	59999-65535
	option target		ACCEPT

config rule
	option name		Allow-Rita-Tunnels
	option src		pbs
	option dest_port	59999-65535
	option target		ACCEPT

config rule
	option name		Allow-Rita-Autosetup
	option src		mesh
	option dest_port	4875
	option target		ACCEPT

config rule
    option name     Allow-Rita-Autosetup-pbs
    option src      pbs
    option proto    tcp
    option dest_port    4878
    option target    ACCEPT

# Dropbear does not listen here by default, it
# may be enabled by the user
config rule
	option name		Allow-WAN-SSH
	option src		backhaul
	option dest_port	2200
	option target		ACCEPT

config rule
	option name		Allow-DHCP
	option src		backhaul
	option proto		udp
	option dest_port	68
	option target		ACCEPT

config rule
	option name		Allow-DHCP-server-pbs
	option src		pbs
	option proto		udp
	option dest_port	67
	option target		ACCEPT

config rule
	option name		Allow-DNS-server
	option src		pbs
	option proto		udp
	option dest_port	5353
	option target		ACCEPT

# Allow DHCPv6 replies
# see https://dev.openwrt.org/ticket/10381
config rule
	option name		Allow-DHCPv6
	option src		backhaul
	option proto		udp
	option src_ip		fc00::/6
	option dest_ip		fc00::/6
	option dest_port	546
	option family		ipv6
	option target		ACCEPT

config include
	option path /etc/firewall.user

