[payment]
buffer_period = 3

[network]
bounty_ip = "fd00::1337:0e1f"
babel_port = 6872
rita_contact_port = 4874
rita_hello_port = 4876
rita_dashboard_port = 4877
rita_tick_interval = 5
bounty_port = 8888
wg_private_key_path = "/tmp/priv"
wg_start_port = 60000
tunnel_timeout_seconds = 900
light_client_router_ip = "{{pbs_ip}}"
peer_interfaces = [{% for interface in listen_interfaces_extended %}"{{interface}}"{{ "," if not loop.last else "" }}{% endfor %}]
{% if wan_interface is defined %}
external_nic = "{{wan_interface}}"
{% endif %}
manual_peers = ["africa.althea.net", "ca.althea.net", "sa-eth.althea.org", "apac.altheamesh.com", "test.althea.org", "exit.altheamesh.com", "borked.altheamesh.com", "sa.althea.org", "10.45.0.1"]
conf_link_local = true
default_route = []
device = "{{device}}"

[exit_client]
wg_listen_port = 59999
lan_nics = ['lan']
current_exit = "{{default_exit}}"

[exit_client.new_exits.test]
registration_port = 4875
description = "The Althea testing exit cluster. Unstable!"
state = "New"
subnet = "fd00::1337:1e0f/128"
subnet_len = 128
eth_address = "0x5aee3dff733f56cfe7e5390b9cc3a46a90ca1cfa"
wg_public_key = "zgAlhyOQy8crB0ewrsWt3ES9SvFguwx5mq9i2KiknmA="

[exit_client.new_exits.us_west]
registration_port = 4875
description = "The Althea Production US exit"
state = "New"
subnet = "fd00::1337:0e2f/116"
subnet_len = 116
eth_address = "0x72d9e579f691d62aa7e0703840db6dd2fa9fae21"
wg_public_key = "jkIodvXKgij/rAEQXFEPJpls6ooxXJEC5XlWA1uUPUg="

[exit_client.new_exits.africa]
registration_port = 4875
description = "Althea Africa exit"
state = "New"
subnet = "fd00::1337:2e2f/116"
subnet_len = 116
eth_address = "0xEba3aF4E87663b3Bb57FC89976502b960e3906ff"
wg_public_key = "V0tgdQ2Ljx5xyw4UMQ6a7ZztQmyvqrUp/4jrFcCeG1w="

[exit_client.new_exits.revabit]
registration_port = 4875
description = "Revabit Africa Exit"
state = "New"
subnet = "fd01::3737:1/116"
subnet_len = 116
eth_address = "0xfd6E3Cb9699811e2EeE72825a141EE7e7e6d46F4"
wg_public_key = "IQXzsopZ8O6iAssJAxtdE7VSqmY3x6eHuy39giKHc3k="

[exit_client.new_exits.south_america_eth]
registration_port = 4875
description = "Nodo de salida de America del Sur"
state = "New"
subnet = "fd00::1337:6e2f/116"
subnet_len = 116
eth_address = "0x81b6c9f8cfd8f135743a9d39b3b0386024ea4cc8"
wg_public_key = "AlsMwUkJmiA+EQ45p+n+RAtXq1rCA51k58HRwlzoETs="

[exit_client.new_exits.apac]
registration_port = 4875
description = "In Singapore"
state = "New"
subnet = "fd00::1337:4e2f/128"
subnet_len = 128
eth_address = "0xe4ad1f9aa23957d294d869b70fc8f28774df896e"
wg_public_key = "1kKSpzdhI4kfqeMqch9I1bXqOUXeKN7EQBecVzW60ys="

[exit_client.new_exits.ca]
registration_port = 4875
description = "Canada Althea Exit"
state = "New"
subnet = "fd00::1337:3e9f/128"
subnet_len = 128
eth_address = "0x90b82ed41dcd867df7d2aedab62280e82fcd64f3"
wg_public_key = "D0z23bOTn5RQgM87nuxx6zgmFMMAKBHXSOXopHtZhTc="

[exit_client.new_exits.pr]
registration_port = 4875
description = "Puerto Rico Exit"
state = "New"
subnet = "fd00::1337:eaf1/128"
subnet_len = 128
wg_public_key = "2wnoOmOuCwqV6dIjzn0uaALSxhwx+w8XH2neUr5NRUY="
eth_address = "0x6c806Fea0fE17CCdc90312E5dFe53D69EaFE7762"


[operator]
display_operator_setup = true

[log]
{% if logging_enabled %}
enabled = true
{% else %}
enabled = false
{% endif %}
level = "{{logging_level}}"
dest_url = "{{logging_url}}"